footer.footer
  .container
    .footer__side.contacts
      h2.contacts__title Наши контакты
      .footer__item.contacts__address
        .contacts__address__img
        .contacts__text Орбита 4 <br> Дом 11 Кв 169
      .footer__item.contacts__phone
        .contacts__phone__img
        .contacts__text 
          a(href="tel:8800-555-35-35") 8800-555-35-35 <br>
          a(href="tel:8800-555-35-35") 8800-555-35-35
      .footer__item.contacts__email
        .contacts__email__img
        .contacts__text
          a(href="mailto:code-union@gmail.com") code-union@gmail.com
      p.footer__with-love CodeUnion | Сделано с любовью
      p.footer__hidden Copyright © 2020
    .footer__side.contact-us
      h2.contacts__title Свяжитесь с нами!
      form(action="").contact-us__form
        input(type="text" placeholder="*Полное имя").contact-us__name
        input(type="text" placeholder="Компания").contact-us__company
        input(type="text" placeholder="*Телефон").contact-us__phone
        input(type="text" placeholder="*Почта").contact-us__email
        textarea(name="" placeholder="*Сообщение...").contact-us__message
        button(type="submit").contact-us__submit Отправить
      p.footer__copyright Copyright © 2020