section.s-about-us
  .container
    .s-about-us__info
      span.s-about-us__hidden-text Что мы делаем?
      .section__title.s-about-us__title Наши основные сферы деятельности это:
      .s-about-us__block
        .s-about-us__block__title О нас
        .s-about-us__block__text Таким образом постоянное <br> информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения соответствующий условий активизации. Равным образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров.
    .s-about-us__spheres
      .s-about-us__card.s-about-us__card__1
        .s-about-us__card__title.s-about-us__card__title__1 Лизинг персонала.<br> Инженеры,технический перслонал.
        .s-about-us__card__text.s-about-us__card__text__1  Таким образом, мы можем полностью  персонализировать ваш журнал!
        img(src="static/img/off.png", alt="img").s-about-us__card__img.s-about-us__card__img__1

      .s-about-us__card.s-about-us__card__2
        .s-about-us__card__title.s-about-us__card__title__2 Установка и обслуживание солнечных электрических  панелей
        .s-about-us__card__text.s-about-us__card__text__2  Пишите, рисуйте, размышляйте, понимайте. Аливио проведет вас через подсказки и поможет вам справиться со стрессом!
        img(src="static/img/about-us__card__img-2.png", alt="img").s-about-us__card__img.s-about-us__card__img__2

      .s-about-us__card.s-about-us__card__3
        .s-about-us__card__title.s-about-us__card__title__3 Антикоррозийное покрытие металлических конструкций
        .s-about-us__card__text.s-about-us__card__text__3 Теперь вы знаете, и у вас есть способ справиться и преодолеть свой собственный стресс. Чего ты ждешь? Аливио сегодня!
        img(src="static/img/about-us__card__img-3.png", alt="img").s-about-us__card__img.s-about-us__card__img__3

      .s-about-us__card.s-about-us__card__4
        .s-about-us__card__title.s-about-us__card__title__4 Поставка и наладка лабораторного оборудования
        .s-about-us__card__text.s-about-us__card__text__4 Ответьте на быстрый опрос о том, как вы выражаете себя, что вызывает у вас стресс, и в какой области вы хотели бы работать. 
        img(src="static/img/about-us__card__img-4.png", alt="img").s-about-us__card__img.s-about-us__card__img__4
