@font-face {
  font-family: 'Gilroy-Black';
  src: url('../fonts/gilroy-black/gilroy-black.eot');
  src: url('../fonts/gilroy-black/gilroy-black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-black/gilroy-black.woff2') format('woff2'),
    url('../fonts/gilroy-black/gilroy-black.woff') format('woff'),
    url('../fonts/gilroy-black/gilroy-black.ttf') format('truetype'),
    url('../fonts/gilroy-black/gilroy-black.svg#gilroy-black') format('svg');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/gilroy-bold/gilroy-bold.eot');
  src: url('../fonts/gilroy-bold/gilroy-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-bold/gilroy-bold.woff2') format('woff2'),
    url('../fonts/gilroy-bold/gilroy-bold.woff') format('woff'),
    url('../fonts/gilroy-bold/gilroy-bold.ttf') format('truetype'),
    url('../fonts/gilroy-bold/gilroy-bold.svg#gilroy-bold') format('svg');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/gilroy-regular/gilroy-regular.eot');
  src: url('../fonts/gilroy-regular/gilroy-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-regular/gilroy-regular.woff2') format('woff2'),
    url('../fonts/gilroy-regular/gilroy-regular.woff') format('woff'),
    url('../fonts/gilroy-regular/gilroy-regular.ttf') format('truetype'),
    url('../fonts/gilroy-regular/gilroy-regular.svg#gilroy-regular') format('svg');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/gilroy-medium/gilroy-medium.eot');
  src: url('../fonts/gilroy-medium/gilroy-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-medium/gilroy-medium.woff2') format('woff2'),
    url('../fonts/gilroy-medium/gilroy-medium.woff') format('woff'),
    url('../fonts/gilroy-medium/gilroy-medium.ttf') format('truetype'),
    url('../fonts/gilroy-medium/gilroy-medium.svg#gilroy-medium') format('svg');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/gilroy-semibold/gilroy-semibold.eot');
  src: url('../fonts/gilroy-semibold/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-semibold/gilroy-semibold.woff2') format('woff2'),
    url('../fonts/gilroy-semibold/gilroy-semibold.woff') format('woff'),
    url('../fonts/gilroy-semibold/gilroy-semibold.ttf') format('truetype'),
    url('../fonts/gilroy-semibold/gilroy-semibold.svg#gilroy-semibold') format('svg');
}
