section.s-companies
  .container
    h2.section__title Компании которые нам доверяют!
    .companies
        .companies__item
          img(src="static/img/companies__img__1.png", alt="intertek")
        .companies__item
          img(src="static/img/companies__img__2.png", alt="SGS")
        .companies__item
          img(src="static/img/companies__img__3.png", alt="kaspi")
        .companies__item
          img(src="static/img/companies__img__4.png", alt="Saybolt")