header.header
  .container
    .header__top
      img(src="static/img/logo.png", alt="logo").header__logo
      .burger-menu
        span
      .burger-list
        include ../main-nav/main-nav
        .lang
          .lang__kz KZ
          .lang__ru RU
          .lang__en EN
    .header__bottom
      p.header__hidden Мы любим булочки!
      p.header__title Девиз
      p.header__text С другой стороны консультация с широким активом играет важную роль в формировании систем <br> массового участия.