nav.nav
  ul.nav__list
    li.nav__item
      a(href="#").nav__link Главное
    li.nav__item
      a(href="#").nav__link О нас
    li.nav__item
      a(href="#").nav__link Отзывы
    li.nav__item
      a(href="#").nav__link Проекты
    li.nav__item
      a(href="#").nav__link Контакты