section.s-projects
  .container
    .s-projects__header
      p.s-projects__title-hidden Наши проекты
      .s-projects__block 
        p.section__title.s-projects__big-title Реализованные нами проекты!
        p.s-projects__text Таким образом постоянное <br> информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения соответствующий условий активизации. Равным образом 
    .projects
      .projects__item.projects__item__1
        img(src="static/img/projects__item-1.png", alt="underwater").projects__item__img
        .projects__item__block
          .projects__item__title Устоновка панелей для Kaspi 
          .projects__item__choose Солнечные панели | Аникикорозиные покраски
          .projects__item__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития
      .projects__item.projects__item__2
        .projects__item__title Покраска для металла!
        .projects__item__choose Солнечные панели
        .projects__item__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития
      .projects__item.projects__item__3
        img(src="static/img/projects__item-2.png", alt="cat").projects__item__img
        .projects__item__title Устоновка панелей для Kaspi 
        .projects__item__choose Солнечные панели | Аникикорозиные покраски
        .projects__item__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития
      .projects__item.projects__item__4
        .projects__item__title Устоновка панелей для Kaspi 
        .projects__item__choose Солнечные панели
        .projects__item__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития
      .projects__item.projects__item__5
        .projects__item__title Устоновка панелей для Kaspi 
        .projects__item__choose Солнечные панели
        .projects__item__text 
      .projects__item.projects__item__6
        img(src="static/img/projects__item-3.png", alt="flowers").projects__item__img
        .projects__item__title Устоновка панелей для Kaspi 
        .projects__item__choose Солнечные панели
        .projects__item__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития
      button.projects__item__button Показать еще